/* Color scheme created using coolors.com, based on rolling the
dice around the solarizeds until I was satisfied. */
/* This is only for Project Dedalus, everything else is its own new thing */
:root {
  --bg-light: #fdf6e3; /* solarized-light */
  --bg-dark: #002b36; /* solarized-dark */
  --bg-header: #07a0c3;
  --accent-bright: #f0c808;
  --accent-medium: #086788;

  /* Layout-related constants */
  --header-height: 100px;

  /* Other reused constants */
  --daily-activity-cell-size: 20px;
}

@font-face {
  font-family: 'LiterataBook-Regular';
  src: url('font/LiterataBook-Regular.woff') format('woff');
}

@font-face {
  font-family: 'LiterataBook-Italic';
  src: url('path/LiterataBook-Italic.woff') format('woff');
}

/* Base CSS Resets */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#dedalus-header {
  height: var(--header-height);
  background-color: var(--bg-header);
}

#ParisCountdown {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
}

/* TODO: For now, I'm going with pure text. */
/* #header {
  height: var(--header-height);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(151, 10, 130, 1) 0%,
    rgba(33, 33, 33, 1) 100.2%
  );
} */

.dedalus-header-hero {
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Fira Sans';
}

.header-hero {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 64px;

  margin-bottom: 32px;
  text-align: center;
}

#sidebar-nav {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  flex-grow: 0;

  margin-left: 24px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Basically positions the sidebar nav to the left and
lets everything else take up the rest of page */
#main-content-structure {
  display: flex;

  /* Presumably this should make the sidebar responsive? */
  flex-wrap: wrap;
}

#main-content {
  font-family: 'LiterataBook-Regular', serif;

  /* For paragraph text, _not_ for full-screen images etc. */
  max-width: 500px;
  line-height: 1.4;
  font-size: 18px;
  margin-left: 44px;
  margin-right: 8px;
}

#main-content h1 {
  font-size: 20px;
}

#main-content p {
  font-size: 18px;
}

#main-content em {
  font-family: 'LiterataBook-Italic', italic;
}

#big-picture {
  background-color: black;
  width: 100%;
  height: 800px;
}

.sidebar-nav-item {
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 12px;
}

.sidebar-nav-item > a {
  text-decoration: none;
  color: black;
}

/* This looks kinda neat, like the text above MIT buildings,
at ~60% screen size, and kinda dumb as the page gets smaller. */
.dedalus-banner-text {
  color: var(--bg-light); /* TODO: If this actually looks ok, I should change the var names... */
  text-transform: uppercase;
  text-align: center;
  line-height: var(--header-height); /* Centers the text via css trickery */
  font-size: 8em;
}

.content {
  background-color: var(--bg-light);
}

.QuoteOfTheDay {
  padding: 10px 20px 10px 20px;
}

.daily-activity-cell-area {
  background-color: lightgray;
}

.daily-activity-cell {
  position: relative; /* So the tooltip can be positioned relative to it */
  width: var(--daily-activity-cell-size);
  height: var(--daily-activity-cell-size);
}

.daily-activity-tooltip {
  /* Modified by a :hover */
  display: none;

  position: absolute;
  background-color: rgba(0, 43, 54, 0.8);
  color: #fdf6e3;
  top: -200%;
  /* Centers the element relative to parent. */
  left: 50%;
  transform: translate(-50%, 0);

  width: 120px;
  text-align: center;
  border-radius: 2px;
}

.daily-activity-cell:hover .daily-activity-tooltip {
  display: block;
}

.highlighted-date {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.highlighted-date-selector {
  display: flex;
}

.highlighted-date-legend {
  position: relative;
  height: 100%;
  width: 36px;
}

.date-legend-month {
  overflow: visible;
  width: var(--daily-activity-cell-size);
  display: inline-block;
}

.date-legend-monday {
  position: absolute;
  top: 15%;
}

.date-legend-wednesday {
  position: absolute;
  /* Text should be exactly at the midway point. */
  top: 44%;
}

.date-legend-friday {
  position: absolute;
  /* Manually positioned (not super-exact) to align with day blocks next to it */
  top: 73%;
}

.daily-calendar-table {
  /* TODO */
}

.highlighted-activities {
  background-color: #002b36;
  color: #fdf6e3;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 4px 4px #002b36;
}

.a--dark {
  color: #fdf6e3;
}

#footer {
  background-color: var(--bg-dark);
  height: 50px;
}

.footer-text {
  color: var(--bg-light);
  text-align: center;
  line-height: 50px; /* Same line-centering trick as used in the header,
  matches the footer'
    s size. */
}

.DailyActivityTable-textarea {
  width: 400px;
  height: 150px;
}

@media only screen and (max-width: 700px) {
  #sidebar-nav {
    /* On small screen, space the nav options horizontally,
    as the viewport narrows, take from the space between them
    but keep them on one line. */
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

    margin-right: 24px;
  }

  .sidebar-nav-item {
    /* Fixes the spacing for the horizontal flex-align'ing above. */
    margin-top: 0px;
    margin-right: 0px;
  }

  #main-content {
    margin-left: 8px;
  }
}

@media only screen and (min-width: 900px) {
  #main-content {
    font-size: 22px;
    max-width: 600px;
    margin-left: 88px;
  }

  #main-content h1 {
    font-size: 24px;
  }

  #main-content p {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1200px) {
  #main-content {
    margin-left: 132px;
  }
}
