/* Color scheme created using coolors.com, based on rolling the
dice around the solarizeds until I was satisfied. */
:root {
  --bg-light: #fdf6e3; /* solarized-light */
  --bg-dark: #002b36; /* solarized-dark */
  --bg-header: #07a0c3;
  --accent-bright: #f0c808;
  --accent-medium: #086788;

  /* Layout-related constants */
  --header-height: 100px;

  /* Other reused constants */
  --daily-activity-cell-size: 20px;
}

/* Base CSS Resets */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#header {
  height: var(--header-height);
  background-color: var(--bg-header);
}

.header-hero {
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Fira Sans';
}

/* This looks kinda neat, like the text above MIT buildings,
at ~60% screen size, and kinda dumb as the page gets smaller. */
.banner-text {
  color: var(--bg-light); /* TODO: If this actually looks ok, I should change the var names... */
  text-transform: uppercase;
  text-align: center;
  line-height: var(--header-height); /* Centers the text via css trickery */
  font-size: 8em;
}

.content {
  background-color: var(--bg-light);
}

.QuoteOfTheDay {
  padding: 10px 20px 10px 20px;
}

.daily-activity-cell-area {
  background-color: lightgray;
}

.daily-activity-cell {
  position: relative; /* So the tooltip can be positioned relative to it */
  width: var(--daily-activity-cell-size);
  height: var(--daily-activity-cell-size);
}

.daily-activity-tooltip {
  /* Modified by a :hover */
  display: none;

  position: absolute;
  background-color: #002b36;
  color: #fdf6e3;
  top: -115%;
  /* Centers the element relative to parent. */
  left: 50%;
  transform: translate(-50%, 0);

  width: 120px;
  text-align: center;
}

.daily-activity-cell:hover .daily-activity-tooltip {
  display: block;
}

.highlighted-date {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.highlighted-date-selector {
  display: flex;
}

.highlighted-date-legend {
  position: relative;
  height: 100%;
  width: 36px;
}

.date-legend-month {
  overflow: visible;
  width: var(--daily-activity-cell-size);
  display: inline-block;
}

.date-legend-monday {
  position: absolute;
  top: 15%;
}

.date-legend-wednesday {
  position: absolute;
  /* Text should be exactly at the midway point. */
  top: 44%;
}

.date-legend-friday {
  position: absolute;
  /* Manually positioned (not super-exact) to align with day blocks next to it */
  top: 73%;
}

.daily-calendar-table {
  /* TODO */
}

.highlighted-activities {
  background-color: #002b36;
  color: #fdf6e3;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 4px 4px #002b36;
}

.a--dark {
  color: #fdf6e3;
}

#footer {
  background-color: var(--bg-dark);
  height: 50px;
}

.footer-text {
  color: var(--bg-light);
  text-align: center;
  line-height: 50px; /* Same line-centering trick as used in the header,
  matches the footer'
    s size. */
}

.DailyActivityTable-textarea {
  width: 400px;
  height: 150px;
}
